name: Nix CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Run the Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Check Nix flake
        run: nix flake check

      - name: Build project
        run: nix build

      - name: Run tests
        run: nix develop --command cargo test

      # Failing for mysterious reasons
      # TODO: fix it
      # - name: test home-manager module
      #   run: |
      #     cd home-manager-example && nix-shell -p home-manager --command "home-manager build --flake .#testuser"
      #     test -f home-manager-example/result/home-files/.config/waybar/niri-workspaces-enhanced.so
      #     test -f home-manager-example/result/home-files/.config/niri/rename-workspace.sh
